@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@CHARSET "UTF-8";

.title-01 {
	border-bottom: #2E3192 solid 3px;
	margin-bottom: 10px;
}

.title-1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684d2;
	text-align: center;
	border-bottom: #6684d2 solid 4px;
	margin-bottom: 30px;
}

.title-10 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684D2;
	text-align: center;
	border-bottom: #6684d2 solid 4px;
	margin-bottom: 30px;
}

.title-11 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
	color: #E41E29;
	text-align: left;
	margin-bottom: 30px;
}

.title-12 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684d2;
	text-align: center;
	border-bottom: #6684d2 solid 2px;
	/* 	margin-bottom: 10px; */
}

.title-13 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684d2;
	text-align: center;
	border-top: #6684d2 solid 4px;
	border-bottom: #6684d2 solid 4px;
	margin-bottom: 30px;
}

.title-2 {
	border: solid #6684D2 2px;
	padding: 60px;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.title-3 {
	border: #6684d2 solid 3px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.title-31 {
	border: #6684d2 solid 2px;
	padding: 20px;
	border-radius: 3px;
}

#title-4 {
	color: red;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline #872300;
}

#title-41 {
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.title-5 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684D2;
	text-align: center;
	border-bottom: #6684d2 solid 4px;
	margin-bottom: 40px;
	margin-top: 70px;
}

.title-51 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #6684D2;
	text-align: center;
	border-bottom: #6684d2 solid 4px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.title-6 {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	color: #019000;
	text-align: center;
	border-bottom: #019000 solid 2px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.title-61 {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	color: #019000;
	text-align: center;
	border-bottom: #a6a6a6 solid 2px;
	margin-bottom: 10px;
	margin-top: 50px;
}

.title-62 {
	font-size: 32px;
	font-weight: bold;
	color: #000000;
	font-family: Times New Roman;
	line-height: 1.1;
	text-align: center;
	/* 	border-bottom: #E41E29 solid 2px; */
	margin-bottom: 20px;
	margin-top: 15px;
}

.title-63 {
	font-size: 18px;
	font-weight: bold;
	color: #019000;
	text-align: center;
	/* 	border-bottom: #a6a6a6 solid 2px; */
	margin-bottom: 10px;
}

.title-64 {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	color: #019000;
	text-align: left;
	border-bottom: #a6a6a6 solid 2px;
	margin-bottom: 10px;
}

.title-7 {
	border: #E8E8E8 solid 1px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: #e6e6e6;
}

.title-71 {
	border: #E8E8E8 solid 1px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: #e6e6e6;
	padding-top: 30px;
	padding-left: 130px;
}

.title-72 {
	font-size: 16px;
	border: #E8E8E8 solid 1px;
	padding: 10px;
	line-height: 1.8;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: #E9EBEE;
	padding: 15px;
}

.bg-danger {
	color: #ff0000;
	font-weight: bold;
}